* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    line-height: 1.6;
    background: rgb(254, 250, 246);
    background: linear-gradient(196deg, rgba(254, 250, 246, 1) 0%, rgba(251, 204, 204, 1) 100%);

    /*background-image:url("../images/42.jpg");*/
}

header {
    text-align: center;
    padding: 20px 0 20px 0;
    /*background-color: #213d25;*/
    color: black;
}

h3 {
    margin-top: 30px;
    text-align: center;
}

h4 {
    text-align: right;
}

h4#message {
    text-align: center;
}


.box1 {
    background: rgb(254, 250, 246);
    background: linear-gradient(196deg, rgba(254, 250, 246, 1) 0%, rgba(252, 105, 105, 1) 100%);
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
    color: black;
    border:0.5px solid grey

}


.box3 {
    /*box-shadow: 2px 2px 4px #000000;*/
    /*background-color: white;*/
    height: 400px;
    /*border: 1px solid black;*/
}

footer {
    /*background-color: #213d25;*/
    color: black;
    padding: 20px 0 20px 0;
}

a {
    color: black;

}